
/* Buttons */
QPushButton{
	padding: 5px 10px;
	background: #FFFFFF;
	border: 2px solid #4F7CCE;
	border-radius: 0px;
}

.bg-button{
	background: #4F7CCE;
	color: white;
	border: 2px solid #4F7CCE;
}
.bg-button:hover{
	background: #709EFB;
}
.normal-button{
	background: #FFFFFF;
	border: 2px solid #4F7CCE;
	border-radius: 0px;
}
.normal-button:hover{
	background: #EDEDED;
	border: 2px solid #324E82;
}
.normal-button:disabled{
	border: 2px solid #CCDEFD;
	background: #EDEDED;
}
.icon-button{
	background: #FFFFFF;
	border: 2px solid #FFFFFF;
	padding: 5px 5px;
}
.icon-button:hover{
	background: #EDEDED;
	border: 2px solid #B3B3B3;
}
.icon-bordered{
	border: 2px solid #B3B3B3;
}

.menuBtn, .menuBtnLine{
	border-radius: 1px;
	padding:3px 3px;
	margin:0px;
	background: transparent;
	border: solid 1px white;
}
.menuBtn:hover, .menuBtnLine:hover{
	background: #E1E1E1;
}
.menuBtnLine, .labelLine{
	border: 1px solid #C0C0C0;
}

/* End Buttons */



/* Begin QLineEdit */
QLineEdit{
	background: #FFFFFF;
	border: 2px solid #C0C0C0;
	border-radius: 0px;
	padding: 4px 8px;
}
QLineEdit:focus{
	background: #EDEDED;
}
/* End QLineEdit */

/* Begin QSpinBox */
QAbstractSpinBox {
	background-color: #FFFFFF;
	border: 2px solid #C0C0C0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 0px;
	border-radius: 0px;
}
QAbstractSpinBox:up-button {
	background-color: transparent #19232D;
	subcontrol-origin: border;
	subcontrol-position: top right;
	border-left: 2px solid #C0C0C0;
	margin: 1px;
}
QAbstractSpinBox::up-arrow, QAbstractSpinBox::up-arrow:disabled, QAbstractSpinBox::up-arrow:off {
	image: url("resources/css/rc/arrow_up_disabled.png");
	height: 12px;
	width: 12px;
}
QAbstractSpinBox::up-arrow:hover {
	image: url("resources/css/rc/arrow_up.png");
}
QAbstractSpinBox:down-button {
	background-color: transparent #19232D;
	subcontrol-origin: border;
	subcontrol-position: bottom right;
	border-left: 2px solid #C0C0C0;
	margin: 1px;
}
QAbstractSpinBox::down-arrow, QAbstractSpinBox::down-arrow:disabled, QAbstractSpinBox::down-arrow:off {
	image: url("resources/css/rc/arrow_down_disabled.png");
	height: 12px;
	width: 12px;
}
QAbstractSpinBox::down-arrow:hover {
	image: url("resources/css/rc/arrow_down.png");
}
QAbstractSpinBox:hover {
	background: #E1E1E1;
}
QAbstractSpinBox:selected {
	background: #1464A0;
	color: #32414B;
}

/* End QSpinBox */


/* Begin QScrollArea */
QScrollArea {
	background: transparent;
	border: 0px solid white;
}
QScrollArea > QWidget > QWidget {
	background: transparent;
}
QScrollArea > QWidget > QScrollBar {
	background: palette(base);
}
/* End QScrollArea */

/* Begin QGraphicsView */
QGraphicsView {
	background: transparent;
	border: 0px solid white;
}
QGraphicsView > QWidget > QWidget {
	background: transparent;
}
QGraphicsView > QWidget > QScrollBar {
	background: palette(base);
}
/* End QGraphicsView */


/* Begin QMainWindow */
QMainWindow{
	background: #FFFFFF;
}
/* End QMainWindow */

/* Begin QTabs */
QTabWidget::pane {
	background: #FFFFFF;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin:0px;
}
QTabWidget::tab-bar:top {
	top: 1px;
}
QTabWidget::tab-bar:bottom {
	bottom: 1px;
}
QTabWidget::tab-bar:left {
	right: 1px;
}
QTabWidget::tab-bar:right {
	left: 1px;
}
QTabBar::tab {
	border: 2px solid #DDDDDE;
}
QTabBar::tab:selected {
	background: #FFFFFF;
	color: black;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom: solid 0px white;
}
QTabBar::tab:!selected {
	background: #EDEDED;
	color: #929292;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
QTabBar::tab:!selected:hover {
	background: #FFFFFF;
}
QTabBar::tab:top:!selected {
	margin-top: 3px;
}
QTabBar::tab:bottom:!selected {
	margin-bottom: 3px;
}
QTabBar::tab:top, QTabBar::tab:bottom {
	min-width: 8ex;
	margin-right: -1px;
	padding: 5px 10px 5px 10px;
}
QTabBar::tab:top:selected {
	border-bottom-color: none;
}
QTabBar::tab:bottom:selected {
	border-top-color: none;
}
QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
	margin-right: 0;
}
QTabBar::tab:left:!selected {
	margin-right: 3px;
}
QTabBar::tab:right:!selected {
	margin-left: 3px;
}
QTabBar::tab:left, QTabBar::tab:right {
	min-height: 8ex;
	margin-bottom: -1px;
	padding: 10px 5px 10px 5px;
}
QTabBar::tab:left:selected {
	border-left-color: none;
}
QTabBar::tab:right:selected {
	border-right-color: none;
}
QTabBar::tab:left:last, QTabBar::tab:right:last,
QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
	margin-bottom: 0;
}
/* End QTabs */


/* Begin QScrollBar */
QScrollBar:horizontal {
	height: 16px;
	margin: 2px 16px 2px 16px;
	border: 1px solid #B6B6B6;
	border-radius: 4px;
	background-color: #DBDBDB;
}

QScrollBar:vertical {
	border: 1px solid #B6B6B6;
	background-color: #DBDBDB;
	width: 16px;
	margin: 16px 2px 16px 2px;
	border-radius: 4px;
}

QScrollBar::handle:horizontal {
	background-color: #787878;
	border: 1px solid #32414B;
	border-radius: 4px;
	min-width: 8px;
}

QScrollBar::handle:horizontal:hover {
	background-color: #148CD2;
	border: 1px solid #148CD2;
	border-radius: 4px;
	min-width: 8px;
}

QScrollBar::handle:vertical {
	background-color: #787878;
	border: 1px solid #32414B;
	min-height: 8px;
	border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
	background-color: #148CD2;
	border: 1px solid #148CD2;
	border-radius: 4px;
	min-height: 8px;
}

QScrollBar::add-line:horizontal {
	margin: 0px 0px 0px 0px;
	border-image: url("resources/css/rc/arrow_right_disabled.png");
	height: 12px;
	width: 12px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
	border-image: url("resources/css/rc/arrow_right.png");
	height: 12px;
	width: 12px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
	margin: 3px 0px 3px 0px;
	border-image: url("resources/css/rc/arrow_down_disabled.png");
	height: 12px;
	width: 12px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
	border-image: url("resources/css/rc/arrow_down.png");
	height: 12px;
	width: 12px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	background: white;
	margin: 0px 3px 0px 3px;
	border-image: url("resources/css/rc/arrow_left_disabled.png");
	height: 12px;
	width: 12px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
	border-image: url("resources/css/rc/arrow_left.png");
	height: 12px;
	width: 12px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	background: white;
	margin: 3px 0px 3px 0px;
	border-image: url("resources/css/rc/arrow_up_disabled.png");
	height: 12px;
	width: 12px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
	border-image: url("resources/css/rc/arrow_up.png");
	height: 12px;
	width: 12px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
	background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}
/* End QScrollBar */


/* Begin QComboBox */
QComboBox{
	background: #FFFFFF;
	border: 2px solid #C0C0C0;
	border-radius: 0px;
	padding: 4px 8px;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 20px;
	border-left-width: 0px;
	border-left-color: #32414B;
	border-left-style: solid;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background: white;
}
QComboBox::down-arrow {
	image: url("resources/css/rc/arrow_down_disabled.png");
	height: 12px;
	width: 12px;
	padding: 10px 20px;
}
QComboBox::down-arrow:on, QComboBox::down-arrow:hover, QComboBox::down-arrow:focus {
  image: url("resources/css/rc/arrow_down.png");
}
QComboBox QAbstractItemView {
	background-color: #E2E2E2;
	border-radius: 0px;
	border: 2px solid #C0C0C0;
	selection-color: #148CD2;
	selection-background-color: #32414B;
}
/* End QComboBox */
