.titleProperties{
	color: #D6324C;
}
.iconProperties{
	background:gray;
}

QMainWindow, QDialog{
	background: #353535;
	padding:0px;
}

QTabWidget::pane {
	/*border: 1px solid black;*/
	background: #353535;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin:0px;
}

QTabWidget::tab-bar:top {
	top: 1px;
}

QTabWidget::tab-bar:bottom {
	bottom: 1px;
}

QTabWidget::tab-bar:left {
	right: 1px;
}

QTabWidget::tab-bar:right {
	left: 1px;
}

QTabBar::tab {
	border: 1px solid black;
}

QTabBar::tab:selected {
	background: #353535;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom: solid 0px white;
	color: white;
}

QTabBar::tab:!selected {
	background: #919190;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

QTabBar::tab:!selected:hover {
	background: #999;
}

QTabBar::tab:top:!selected {
	margin-top: 3px;
}

QTabBar::tab:bottom:!selected {
	margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
	min-width: 8ex;
	margin-right: -1px;
	padding: 5px 10px 5px 10px;
}

QTabBar::tab:top:selected {
    border-bottom-color: none;
}

QTabBar::tab:bottom:selected {
    border-top-color: none;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

QTabBar::tab:left, QTabBar::tab:right {
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 10px 5px 10px 5px;
}

QTabBar::tab:left:selected {
    border-left-color: none;
}

QTabBar::tab:right:selected {
    border-right-color: none;
}

QTabBar::tab:left:last, QTabBar::tab:right:last,
QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
    margin-bottom: 0;
}

QPushButton{
    border: 1px solid gray;
    padding: 5px;
    background: #282828;
    border-radius: 3px;
    color: white;
}
QPushButton:hover{
	background: #4e4d4d;
}
QLabel{
	color: white;
}
QLineEdit, QPlainTextEdit, QTextEdit, QTableWidget, QHeaderView{
	background: #282828;
	color: white;
}

QCheckBox{
	color: white;
}

QMenu{
	background-color: #353535;
	border: 1px solid white;
}

/*
	Custom
*/
QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 20px;
  border-left-width: 0px;
  border-left-color: #32414B;
  border-left-style: solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
  image: url("simulador/css/rc/arrow_down_disabled.png");
  height: 12px;
  width: 12px;
	padding: 10px 20px;
}

QComboBox::down-arrow:on, QComboBox::down-arrow:hover, QComboBox::down-arrow:focus {
  image: url("simulador/css/rc/arrow_down.png");
}
QComboBox QAbstractItemView {
  background-color: #19232D;
  border-radius: 4px;
  border: 1px solid #32414B;
  selection-color: #148CD2;
  selection-background-color: #32414B;
}
.btnRound2{
	border-radius: 8px;
	padding:12px 10px;
	border: solid 1px white;
	color: white;
	background: #282828;
}
.btnRound, .selectRound{
	border-radius: 19px;
	padding:12px 10px;
	border: solid 1px white;
	color: white;
	background: #282828;
}
.btnRound:checked{
	background: gray;
}

.menuBtn, .menuBtnLine{
	border-radius: 1px;
	padding:3px 3px;
	margin:0px;
	background: transparent;
	border: solid 1px white;
}
.menuBtn:hover, .menuBtnLine:hover{
	background: #282828;
}
.menuBtnLine, .labelLine{
	border: 1px solid #282828;
}

.QMenu{
	border: solid 0px black;
		border-radius: 2px;

}

.searchIn{
	padding: 5px 10px;
	border-radius: 0px;
}

.btnDelete{
	border-radius: 19px;
	padding:12px 10px;
	border: solid 1px red;
	color: red;
	background: pink;
}
QScrollArea {
	background: transparent;
}
QScrollArea > QWidget > QWidget {
	background: transparent;
}
QScrollArea > QWidget > QScrollBar {
	background: palette(base);
}


QFrame#line{
    background-color: gray;
}



/* QScrollBar -------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qscrollbar

--------------------------------------------------------------------------- */
QScrollBar:horizontal {
  height: 16px;
  margin: 2px 16px 2px 16px;
  border: 1px solid #32414B;
  border-radius: 4px;
  background-color: #19232D;
}

QScrollBar:vertical {
  background-color: #19232D;
  width: 16px;
  margin: 16px 2px 16px 2px;
  border: 1px solid #32414B;
  border-radius: 4px;
}

QScrollBar::handle:horizontal {
  background-color: #787878;
  border: 1px solid #32414B;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:horizontal:hover {
  background-color: #148CD2;
  border: 1px solid #148CD2;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:vertical {
  background-color: #787878;
  border: 1px solid #32414B;
  min-height: 8px;
  border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
  background-color: #148CD2;
  border: 1px solid #148CD2;
  border-radius: 4px;
  min-height: 8px;
}

QScrollBar::add-line:horizontal {
  margin: 0px 0px 0px 0px;
  border-image: url("simulador/css/rc/arrow_right_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
  border-image: url("simulador/css/rc/arrow_right.png");
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
  margin: 3px 0px 3px 0px;
  border-image: url("simulador/css/rc/arrow_down_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
  border-image: url("simulador/css/rc/arrow_down.png");
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  margin: 0px 3px 0px 3px;
  border-image: url("simulador/css/rc/arrow_left_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
  border-image: url("simulador/css/rc/arrow_left.png");
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  margin: 3px 0px 3px 0px;
  border-image: url("simulador/css/rc/arrow_up_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
  border-image: url("simulador/css/rc/arrow_up.png");
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
  background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}

/* QGraphicsView ----------------------------------------------------------

--------------------------------------------------------------------------- */
/*QGraphicsView {
  background-color: #19232D;
  border: 1px solid #32414B;
  color: #F0F0F0;
  border-radius: 4px;
}

QGraphicsView:disabled {
  background-color: #19232D;
  border: 1px solid #32414B;
  color: #787878;
  border-radius: 4px;
}

QGraphicsView:hover, QGraphicsView:!hover, QGraphicsView::selected, QGraphicsView::pressed {
  border: 1px solid #32414B;
}*/



QCheckBox::indicator {
  margin-left: 4px;
  height: 16px;
  width: 16px;
}

QCheckBox::indicator:unchecked {
  image: url("simulador/css/rc/checkbox_unchecked.png");
}

QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:focus, QCheckBox::indicator:unchecked:pressed {
  border: none;
  image: url("simulador/css/rc/checkbox_unchecked_focus.png");
}

QCheckBox::indicator:unchecked:disabled {
  image: url("simulador/css/rc/checkbox_unchecked_disabled.png");
}

QCheckBox::indicator:checked {
  image: url("simulador/css/rc/checkbox_checked.png");
}

QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:focus, QCheckBox::indicator:checked:pressed {
  border: none;
  image: url("simulador/css/rc/checkbox_checked_focus.png");
}

QCheckBox::indicator:checked:disabled {
  image: url("simulador/css/rc/checkbox_checked_disabled.png");
}

QCheckBox::indicator:indeterminate {
  image: url("simulador/css/rc/checkbox_indeterminate.png");
}

QCheckBox::indicator:indeterminate:disabled {
  image: url("simulador/css/rc/checkbox_indeterminate_disabled.png");
}

QCheckBox::indicator:indeterminate:focus, QCheckBox::indicator:indeterminate:hover, QCheckBox::indicator:indeterminate:pressed {
  image: url("simulador/css/rc/checkbox_indeterminate_focus.png");
}


.backgroundComponents{
	background : #353535;
	border:0px;
}


QProgressBar {
  background-color: #19232D;
  border: 1px solid #32414B;
  color: #F0F0F0;
  border-radius: 4px;
  text-align: center;
}

QProgressBar:disabled {
  background-color: #19232D;
  border: 1px solid #32414B;
  color: #787878;
  border-radius: 4px;
  text-align: center;
}

QProgressBar::chunk {
  background-color: #1464A0;
  color: #19232D;
  border-radius: 4px;
}

QProgressBar::chunk:disabled {
  background-color: #14506E;
  color: #787878;
  border-radius: 4px;
}


/* QAbstractSpinBox -------------------------------------------------------

--------------------------------------------------------------------------- */
QAbstractSpinBox {
  background-color: #19232D;
  border: 1px solid #32414B;
  color: #F0F0F0;
  /* This fixes 103, 111 */
  padding-top: 2px;
  /* This fixes 103, 111 */
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 4px;
  border-radius: 4px;
  /* min-width: 5px; removed to fix 109 */
}

QAbstractSpinBox:up-button {
  background-color: transparent #19232D;
  subcontrol-origin: border;
  subcontrol-position: top right;
  border-left: 1px solid #32414B;
  margin: 1px;
}

QAbstractSpinBox::up-arrow, QAbstractSpinBox::up-arrow:disabled, QAbstractSpinBox::up-arrow:off {
  image: url("simulador/css/rc/arrow_up_disabled.png");
  height: 12px;
  width: 12px;
}

QAbstractSpinBox::up-arrow:hover {
  image: url("simulador/css/rc/arrow_up.png");
}

QAbstractSpinBox:down-button {
  background-color: transparent #19232D;
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  border-left: 1px solid #32414B;
  margin: 1px;
}

QAbstractSpinBox::down-arrow, QAbstractSpinBox::down-arrow:disabled, QAbstractSpinBox::down-arrow:off {
  image: url("simulador/css/rc/arrow_down_disabled.png");
  height: 12px;
  width: 12px;
}

QAbstractSpinBox::down-arrow:hover {
  image: url("simulador/css/rc/arrow_down.png");
}

QAbstractSpinBox:hover {
  border: 1px solid #148CD2;
  color: #F0F0F0;
}

QAbstractSpinBox:selected {
  background: #1464A0;
  color: #32414B;
}


.codeEditor{
	background : #2C3037;
}
